.form,
.form-group {
  @apply relative;
}
.form-group {
  @apply mb-2;
}
.form-group > label {
  @apply block mb-0.5 pl-1 font-semibold text-xs;
}
.form-control {
  @apply w-full outline-none bg-neutral-100 border-2 border-white rounded p-2 transition-all ease-in-out
  focus:bg-white focus:border-branding text-sm;
}
select.form-control {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1em;
}
input[type='number'].form-control::-webkit-inner-spin-button,
input[type='number'].form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
